body {
  box-sizing: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(to right top, rgb(29 33 33 / 80%),rgb(15 81 114 / 50%)), url("../img/backgroundmain.png");
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.body-opacity{
	opacity: 0.4;
}
/* ------------------------START HEADER--------------------- */
.logo-header img {
  width: 100px;
  height: 50px;
  margin-left: 45px;
  margin-top: 5px;
}
.logo-title {
  font-size: 20px;
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  color: #F9ECE4;
}
.logo-header a:hover,
.logo-header a:active {
  text-decoration: none;
}
.logo-header {
	margin-top: 2rem;
}
.menu-header, .avatar-header {
  float: right;
}

.icon-menu, .icon-search {
  margin-left: 7px;
  margin-top: 15px;
  margin-top: 20px;
  color: #F9ECE4;
}

.icon-small:hover,
.icon-small:active {
  cursor: pointer;
  color: #106470;
  color: rgb(132, 212, 255);
}

.icon-search {
  position: absolute;
  margin-left: 1400px;
  margin-top: 21px;
}

.content-search {
  position: absolute;
  width: 400px;
  border-radius: 30px;
  border: 1px solid rgb(162, 223, 255);
  font-size: 12px;
  height: 32px;
  padding: 0px 20px 0px 20px;
  margin-top: 14px;
  margin-left: 1025px;
  outline: 0;
}
.content-search:hover,
.content-search:active {
  border: 1px solid rgb(113, 205, 255);
}

.avatar-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 6px;
  border: 1px solid #F9ECE4;
}
.avatar-header img:hover,
.avatar-header img:active {
  cursor: pointer;
}
.avatar-header .admin-header {
  position: absolute;
  font-size: 14px;
  margin-left: -12px;
  margin-top: 12px;
}
.personal-info-header {
  position: absolute;
  margin-top: 4px;
  margin-left: -51px;
  display: none;
  z-index: 10;
}
.personal-info-header li {
  font-size: 12px;
  width: 140px;
  list-style: none;
  text-align: center;
  margin-top: 1px;
  border: 1px solid black;
  border-radius: 3px;
  height: 28px;
}
.personal-info-header li a {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  transition: border-bottom 1s;/* thá»�i gian hiá»ƒn thá»‹ cá»§a border-bottom ;*/
}
.personal-info-header li:hover,
.personal-info-header li:active {
  cursor: pointer;
}
.personal-info-header li a:hover,
.personal-info-header li a:active {
  cursor: pointer;
}
.run-header {
  font-weight: bold;
  position: absolute;
  animation: run-header 8s infinite;
  margin-top: -22px;
  color: #F9ECE4;
}
@keyframes run-header {
    from {left: 50px;}
    to {left: 1150px;}
}
.profile-info-label {
  padding-left: 5px;
}
/* ------------------------END----------------------------- */
.main-menu {
	height: 98.8vh;
/*     border-right: 2px solid white; */
    background-image: linear-gradient(to right top, rgb(29 33 33 / 80%),rgb(15 81 114 / 50%)), url("../img/backgroundmenu.png");
    border-radius: 20px;
    box-shadow: 10px 8px #3b4c59;
}
.main-content {
/*   background-color: #A5D1E1; */
}
.main-auth-list {
  margin-top: 10px;
  font-size: 20px;
  margin-left: -8rem;
 
}
.main-auth-list li{
  list-style: none;
  margin-top: 17px;
}
.main-auth-list li a{
  margin-top: 10px;
  color: white;
}
.main-auth-list li a:hover {
  background-color: #b9b973;
  border-radius: 10px;
  padding : 10px 10px 10px 20px;/*tren phai duoi trai*/
  color: white;
  text-decoration: none;
}
.main-menu-manager-list {
  margin-top: 10px;
  font-size: 20px;
  margin-left: -8rem;
 
}
.main-menu-manager-list li{
  list-style: none;
  margin-top: 17px;
}
.main-menu-manager-list li a{
  margin-top: 10px;
  color: white;
}
.main-menu-manager-list li a:hover{
  background-color: #b9b973;
  border-radius: 10px;
  padding : 10px 10px 10px 20px;/*tren phai duoi trai*/
  color: white;
  text-decoration: none;
}
.parent-li {
  margin-bottom: 10px;
  text-align: center;
}
.small-icon {
  font-size: 20px !important;
}
.active-span {
  width: 200px;
}
h2 {
  margin-left: 1.5rem;
  color: #b9b973 !important;
}
.main-auth-icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 20rem;
  color: #b9b973;
}
.main-auth-icon:hover {
  cursor: pointer;
  font-size: 20px;
  margin-top: -33px;
  color: white;
}
.menu-manager-icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 20rem;
  color: #b9b973;
}
.menu-manager-icon:hover {
  cursor: pointer;
  font-size: 20px;
  margin-top: -33px;
  color: white;
}
hr {
  background-color:  rgba(255, 255, 255, 0.9);
}
.category-manager {
  margin-left: 30px;
}
.dataTables_filter input {
  padding: 0px 20px 0px 10px;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  height: 30px;
  width: 320px;
  border: 1px solid #199FB1;
  color: black !important;
}
.dataTables_filter input::before {
  content: "Search";
}
.dataTables_filter label{
  color: transparent;
}
.card {
  margin-top: 20px;
  margin-right: 13px;
}
.add-user {
/*   margin-top: 27px; */
}
.add-user .btn-add-user {
  color: white;
  background-color: gray;
  border: 1px solid white !important;
}
.add-user .btn-add-user:hover {
  background-color: #F9ECE4;
  transition: color 0.5;
  color: #199FB1;
  border: 1px solid #F9ECE4 !important;
}
.add-role {
/* 	margin-top: 27px; */
}
.add-role .btn-add-role {
/*   margin-left: 1530px; */
  color: white;
  background-color: gray;
  border: 1px solid white !important;
}
.btn-add-category {
  color: white !important;
  background-color: gray!important;
  border: 1px solid white !important;
}
.add-role .btn-add-role:hover {
  background-color: #a6a6a6;
  color: black;
}

.add-new .btn-add-new {
/*   margin-left: 1530px; */
  color: white;
  background-color: gray;
  border: 1px solid white !important;
}

.add-new .btn-add-new:hover {
  background-color: #a6a6a6;
  color: black;
}

/* ---------------------table-------------- */
.table-th {
  text-align: center;
  border: 1px solid rgb(246,251,254) !important;
  color: #b9b973;
  font-size: 20px;
}
.table-td {
  border-bottom: 1px solid rgb(226,236,243) !important;
  text-align: center;
}
.role-table tbody td {
  border-bottom: 1px solid rgb(226,236,243) !important;
  text-align: center;
}
.user-table tbody tr td {
  border-bottom: 1px solid rgb(226,236,243) !important;
  text-align: center;
}
.table-th-no {
	width: 5% !important;
}
.role-table-th-name {
	width: 480px !important;
}
.role-table-th-description {
	width: 730px !important;
}
.table-th-action {
	width: 10% !important;
}
table.dataTable tbody tr {
	background-color: transparent!important;
	color: white;
	font-style: italic;
}
table.dataTable tbody tr:hover {
	background-color: #b9b973!important;
	color: white;
}
.dataTables_filter input {
	background-color: transparent;
    color: white !important;
    border: 1px solid white;
}
.dataTables_wrapper .dataTables_filter input {
   width: 30em;
   height: 2.5em;
   border-radius: 5px
}
.category-table-th {
	width: 25% !important;
}
.category-table-th-date {
	width: 13% !important;
}

/* ---------------icon--------------------- */
.fa-edit {
  font-size: 25px !important;
  margin-right: 7px;
  color: rgb(113, 205, 255) !important;
  cursor: pointer;
}
.fa-remove {
  font-size: 29px !important;
  color: red;
}
.fa-lock {
  font-size: 29px !important;
  color: red;
}
.fa-unlock-alt {
	font-size: 29px !important;
}
/* --------------end icon------------------ */
/* --------------[START] modal------------- */
.modal-content-user {
  width: 820px !important;
  margin-left: -180px !important;
}
.modal-user {
  overflow-y: scroll;
  height: 740px;
}
.modal-content-role{
  width: 490px !important;
}
.modal-footer-role {
	height: 50px;
}
.modal-body-role {
	height: 134px;
}
.modal-footer-user {
	height: 50px;
}
.modal-header .close {
	margin-top: -25px !important;
}

.gif-loading {
	position: absolute;
	margin-top: -600px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	z-index: 999;
}
/* ----------------[END] modal------------- */
/* ------------------form-------------------- */
.form-label {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  width: 150px !important;
  height: calc(1.5em + .75rem + 2px) !important;
  text-align: center;
  padding: .375rem .75rem;
  border-radius: .25rem;
  display: inline-block;
}
.form-label-hidden {
  width: 150px !important;
}
.form-input {
  display: inline-block !important;
  width: 605px !important;
}
.form-input-role {
  display: inline-block !important;
  width: 300px !important;
}
.form-avatar-profile {
  width: 200px;
  height: 19rem;
  margin-top: -1.2rem;
  margin-bottom: 0.5rem;
}
.checkbox-role {
  width:19px;
  height:19px;
  margin:-3px 5px 0px 10px;
  vertical-align:middle;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  cursor:pointer;
}
.have-role, .not-role {
  display: -webkit-inline-box;
  border: 1px solid #e9ecef;
  max-width: 300px !important;
  border-radius: 7px;
}
.span-role {
  display: inline-block;
  width: 29.9rem;
  margin-left: -15px;
  background-color: #e9ecef;
  text-align: center;
  height: 80%;
  padding-top: 6px;
  border-radius: 6px 6px 0px 0px;
}
.role-header {
  height: 37px;
  display: inline-block;
}
.role-have-right, .list-role {
    margin-top: -0.7rem;
    display: inline-block;
    overflow-y: scroll;
    height: 18rem;
    width: 28.3rem;
}

.error{
	margin-top: -55px;
    color: red;
    font-size: 14px;
}
/* --------------------table--------------------- */
#pagination-role {
  position: absolute;
  margin-top: 27px;
  left: 50%;
  transform: translateX(-50%);
}
#pagination-user {
  position: absolute;
  margin-top: 27px;
  left: 50%;
  transform: translateX(-50%);
}
.notifyjs-corner {
	top: 20px !important;
    right: 35px !important;
    width: 400px !important;
    font-size: 20px !important;
    transition: all 3s ease-in !important;
    
}
.disabled-button{
	cursor: not-allowed !important;
}
.display-none {
	display: none !important;
}

.display-block {
	display: inline-block !important;
}
.form-role-error {
	position: absolute;
    margin-top: -25px;
    margin-left: 85px;
    color: red;
}
.text-line-through {
	text-decoration: line-through;
}

@media only screen and (max-width: 600px) {
  h4 {
  	color: red;
  }
}

/* ------------common-------------- */
.hidden-menu {
	overflow-x: hidden;
    left: 0px;
    width: 100px !important;
    position: absolute !important;
    transition: ease width 1.5s;
}
.card-body {
	margin-left: 15px;
}
.height-100 {
	height: 100vh;
}
input::placeholder {
	color: white !important;
}
.w-15-percent {
	width: 15% !important;
}
.mr-left-zero-dot-four {
	margin-left: 0.4rem;
}

/* ------------user-------------- */

.role-text {
  margin-left: 3rem;
  margin-top: -2rem;
}
/* ------------loader-------------*/
#loader {
  position: fixed;
  margin-left: 22%;
  margin-top: 10%;
  z-index: 1;
  width: 150px;
  height: 150px;
/*   margin: -76px 0 0 -76px; */
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/*---------------- notification -----------------*/
body > div.notifyjs-corner > div > div.notifyjs-container > div > span{
	word-break:break-word !important;
	white-space:break-spaces !important;
}

.mr-left-4{
	margin-left: 4% !important;
}

.mrt-22{
	margin-top: 22px !important;
}

.mrt-20{
	margin-top: 20px !important;
}
.mrb-20{
	margin-bottom: 20px !important;
}
.height-35{
    height: 35px !important;
}
#datepickerStart {
    width: 238px !important;
    margin-top: 22px !important;
    margin-left: -15px !important;
}
#datepickerEnd {
	width: 238px !important;
	margin-top: 22px !important;
	margin-left: -15px !important;
}
.ui-datepicker-trigger {
    margin-top: -34px;
    margin-left: 190px;
    height: 34px !important;
}
.bgcl-transparent{
	background-color: transparent !important;
	color: white !important;
}
.option-new{
	background-color: transparent !important;
	color: black !important;
}
#new-table_filter{
	display: none !important;
}